@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;700&display=swap');



#ShoppingCart{
    display: flex;
    width: 440px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

#ShoppingCart>:nth-child(1){
    border-bottom: 2px solid #b8b7b7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #b8b7b7;
    font-size: 15px;
    padding: 8px 15px;
}
#ShoppingCart>:nth-child(1)>h1{
    font-weight: 700;
    font-size: 21px;
}   
#empty{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: #b8b7b7;
}
#empty>p{
    font-size: 18px;
}
#ShoppingCart>:nth-child(3){
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(207, 206, 203);
    padding: 0 30px;
}

#ShoppingCart>:nth-child(3)>span{
    background-color: #ff6a06;
    padding: 3px 5px;
    border-radius: 10px;
    border: none;
    font-size: 17.5px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2c2c25;
}
#ShoppingCart>:nth-child(3)>span>a{
    text-decoration: none;
    color: #2c2c25;
    font-weight: 500;
}

#ShoppingCart>:nth-child(3)>h3{
    position: relative;
    font-weight: 300;
    font-size: 17px;
}
#ShoppingCart>:nth-child(3)>h3::after{
    background-color: rgb(207, 206, 203);
    width: 150%;
    height: 3px;
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: 55%;
    transform: translate(50%,0);
}
#cardContainer{
    padding: 10px 18px 16px 18px;
    max-height: 70vh;
    overflow-y: auto;
}
#cardContainer::-webkit-scrollbar {
    width: 5px; 
    background-color: #b81111d8; 
    border-radius: 10px; 
}
  
#cardContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}
  
#cardContainer::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
} 
#cardContainer::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 5px;
}


@media screen and (max-width: 500px) {
    #ShoppingCart{
        width: 300px;
        padding: 0 6px;
    }
    #ShoppingCart>:nth-child(3){
        width: 100%;
        height: auto;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: rgb(207, 206, 203);
        padding: 10px 30px;
    }
    #ShoppingCart>:nth-child(1){
        border-bottom: 1px solid #b8b7b7;
    }
    #ShoppingCart>:nth-child(1)>h1{
        font-weight: 400;
        font-size: 18px;
    }  
    #ShoppingCart>:nth-child(3)>h3{
        position: relative;
        font-weight: 300;
        font-size: 14px;
    }
    #ShoppingCart>:nth-child(3)>h3::after{
        background-color: rgb(207, 206, 203);
        width: 120%;
        height: 1px;
        content: '';
    }
}