@import '../../fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&display=swap');



#Tienda{
    background-color: #111111;
    height: 100vh;
    color: #fefefe;
    font-family: 'Nasalization', sans-serif;
    overflow: hidden;
}
#Tienda>div{
    display: flex;
}

#Tienda>#body{
    padding: 0px 0px;
}
#body{
    width: 100%;
    height: calc(100vh - 92.5px);
    overflow: hidden;
}
#sideBar{
    min-height: calc(100vh - 91.5px);
    width: 250px;
    flex-shrink: 0;
    background-color: #171717;
    overflow: hidden;
    padding: 5px 15px;
    z-index: 10;
}
#searchBarContainer{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    background-color: transparent;
    position: relative;

}
#categoryPick{
    background-color: #fd621a9a;
    position: absolute;
    left: 10px;
    bottom: 50%;
    transform: translateY(50%);
    padding: 5px 8px;
    border-radius: 10px;
    font-size: 11.5px;
    display: inline-block;
    text-align: center;
}
#xIcon{
    width: 15px;
    margin-left: 5px;
    background-color: white;
    color: #fd621a;
    border-radius: 50%;
    height: 15px;
    display: inline-block;
    cursor: pointer;
}
#mainContent{
    min-height: calc(100vh - 91.5px);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}
#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    width: 100%;
    max-height: calc(100vh - 167.5px);
    overflow: auto;
}

#noHayProductos{
    height: calc(100vh - 167.5px);
    display: flex;
    align-items: center;
    justify-content: center;
}


::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2e2e2e;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    /* border: 1px solid #000000; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #171717;
  }




#priceLess{
    font-size: 15px;
    cursor: pointer;
}
#priceMore{
    font-size: 15px;
    cursor: pointer;
}

.spanAZ{
    font-size: 12px;
    margin: 2px 2px;
}

#switchInput{
    appearance: none;
    width: 45px;
    border-radius: 10px;
    border: 2px solid rgba(27, 27, 27, 0.753);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 1s;
}
#priceFilter{
    font-size: 13px;
}
#priceFilter>:nth-child(2){
    display: flex;
}
#switchContainer{
    position: absolute;
    right: 100px;
}
#detailProductContainer{
    background-color: rgba(0, 0, 0, 0.596);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    backdrop-filter: blur(1px);
    animation: intro 0.6s ease;
}
@keyframes intro{
    0%{
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.596);
        backdrop-filter: blur(1px);
    }
}



@media screen and (max-width: 680px) {
#body{
    height: calc(100vh - 60px);
}
  #sideBar{
    position: fixed;
    left: -250px;
    min-height: calc(100vh - 60px);
    bottom: 0;
    transition: all 0.3s ease-out;
}
  #searchBarContainer{
    /* background-color: rgba(255, 0, 0, 0.315); */
    padding: 0 5px 40px 5px;
  }
  #mainContent{
    padding-top: 10px;
    height: 100%;
  }
  #switchContainer{
    bottom: 5px;
    left: 20px;
  }
  #categoryPick{
    bottom: 12px;
    right: 20px;
    left: initial;
  }
  #cardContainer{
    max-height: calc(100vh - 142px);
    height: calc(100vh - 142px);
   }
}