.LinkCreate{
    /* font-family: 'Nasalization', sans-serif; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 5px;
    background-color: rgb(111, 62, 111);
    box-shadow: 0 0 5px rgb(111, 62, 111);
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

#imgLogIN{
    height: 40px;
}

@media screen and (max-width: 400px) {
    .LinkCreate{
        font-size: 12px;
        padding: 5px 0px;
    }
}
