
.w3-modal {
    z-index: 9999;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .w3-modal-content {
    background-color: #fff;
    padding: 0;
    outline: 0;
    width: 95%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    flex-direction: column;
  }
  .contentWidth .w3-container{
    padding: 0 20px;
    position: static;
    width: 100%;
  }


  .formPayment--niubiz img{
    height: 80px;
  }
  .show-modal-beneficiaries {
    display: flex;
  }
  .hide-modal-beneficiaries {
    display: none;
  }
  
  .w3-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #0099CC;
    height: 10px;
  }
  .w3title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #0099CC;
    text-align: center;
  }


  .grupo-de-form {
    display: flex;
    margin-right: 2%;
    margin-bottom: 25px;
    text-align: center;
  }
  .grupo-de-form div label {
    display: block;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #8B8D8E;
  }
  .grupo-de-form div {
    display: block;
    width: 31%;
    margin-right: 3%;
  }
  .grupo-de-form div input {
    width: 100%;
  }
  .grupo-de-form div select {
    width: 100%;
  }
  .top-18 {
    margin-top: 18px;
  }
  
  .area-50 {
    width: 100% !important;
  }
  
  .w3areabtn {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 5%;
  }
  .btn-pago-accion {
    background: #00AF3F;
    border-radius: 24px;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
  }
  
  .btn-cancelar {
    background: white;
    border: 1px solid #0099CC;
    box-sizing: border-box;
    border-radius: 14px;
    display: block;
    padding: 6px 11px 6px 11px;
    cursor: pointer;
    color: #0099CC;
  }
  .btn-cancelar img {
    height: 16px;
  }
  .btn-cancelar span {
    padding-left: 8px;
    color: #0099CC;
  }
  .btn-cancelar span {
    font-size: 12px;
  }
  
  .w3-margen {
    margin-left: 4%;
  }
  
  .inputsContainers{
    border: 1px solid #11111180;
    margin: 0 0 15px 0;
    border-radius: 4px;
    padding: 10px;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
  }


  .contentWidth {
    max-width: 380px;
    width: 100%;
    background: #F4F3F1;
  }
  .headLogo {
    margin-top: 30px;
    text-align: center;
  }
  .headLogo img {
    width: 176px;
  }


 

  .formPayment--btn {
    width: 100%;
    height: 35px;
    background: #00AF3F;
    border-radius: 5px;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
  }




  .btn-pago-cancel {
    background: none;
    border: 1px solid #0099CC;
    color: #0099CC;
    height: 30px;
    padding: 0px;
    width: 120px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
  }
  

  
  #txtCvv {
    width: 100%;
    overflow: hidden;
  }

  .inputsContainers.extra input{
    border: none;
    width: 100%;
    background-color: transparent;
    color: #111111;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    font-size: '15px';
    /* fontSmoothing: 'antialiased'; */
    outline: none;
  }
  .inputsContainers.extra input::placeholder{
    color: #999999dc;
    font-size: 15px;
  }