#Logged{
    display: flex;
    justify-content: end;
    font-family: 'Nasalization', sans-serif;
}
#toButton{
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    min-width: 100px;
}
#toButton:hover #menu_desplegable{
    display: flex;
}
#toButton> label{
    display: inline-block;
    margin: auto 0 ;
    line-height: 14px;
    font-size: 18px;
    pointer-events: none;
}

#toButton img{
    width: 35px;
    height: 35px;
}
#menu_desplegable{
    background-color: #656464;
    position: absolute;
    top: calc(100% + 5px);
    right: 0%;
    width: 120px;
    display: none;
    flex-direction: column;
    z-index: 12;
}
#menu_desplegable>.options{
    display: inline-block;
    text-align: center;
    color: #fefefe;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
#menu_desplegable>.options:hover{
    background-color: #4f4f4f;
}
#menu_desplegable>:nth-child(1){
    border-bottom: 1px solid black;
}
#menu_desplegable>.options>label{
    pointer-events: none;
}
#menu_desplegable::after{
    background-color: transparent;
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    top: -5px;
}
#imgProfileContainer{
    border: 1px solid rgb(47, 47, 47);
    margin-right: 8px !important;
}