#Card{
    width: 100%;
    max-width: 20%;
    flex-basis: 20%;
    font-family: 'Exo 2', sans-serif;
    color: #fefefe;
    padding:10px;
}
#Card>div:first-child{
    padding: 10px 12px 18px;
    border-radius: 10px;
    background-color: #fefefe17;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#imageContainer{
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 20px 15px 0px;
}
#imageContainer>div{
    width: 100%;
    padding-bottom: 100%;
    height: 0;
}
#imageContainer img{
    width: 100%;
    border-radius: 6px;
}
#title{
    margin: 6px 0 15px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: start;
}
#title h1{
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    transition: all 0.08s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
#title h1:hover{
    transform: scale(1.025);
}
#price{
    display: flex;
    justify-content: center;
    min-height: 19px;
    height: 100%;
    align-items: end;
}
#price>label{
    text-align: center;
    display: flex;
    align-items: center;
}
#original{
    margin-top: 2px;
    margin-right: 10px;
    font-size: 11px;
    color: rgb(153, 153, 153);
}
#original{
    position: relative;
}
#original::after{
    content: "";
    width: 45px;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.882);
    position: absolute;
    transform: rotate(15deg);
    bottom: 8px;
    right: -5px;
}
#discount{
    color: #fd611a;
}
#seeDetails{
    text-align: center;
    padding-top: 10px;
}
#seeDetails>button{
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(62, 37, 62, 0.655);
    color: #fefefe;
    font-size: 11px;
    cursor: pointer;
}
#seeDetails>button:hover{
    text-decoration: underline;
}
#buy{
    text-align: center;
    padding-top: 15px;
}
#buy>button{
    padding: 5px 8px;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400    ;
    text-transform: uppercase;
    background-color: rgb(111, 62, 111);
    color: #fefefe;
    font-size: 15px;
    cursor: pointer;
}
#buy>button:active{
    background-color: rgb(155, 85, 155);
    transform: scale(1.05);
}
#imgToThrow{
    top: 0;
}
.lanzar{
    position: absolute;
    top: 0;
    right: 0;
    animation: mover-carrito 0.8s ease;
    /* z-index: 100000; */
}

@keyframes mover-carrito {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(var(--destino-x), var(--destino-y)) scale(0.2);
      opacity: 0;
    }
  }


@media screen and (max-width: 1450px) {
    #Card{
        max-width: 25%;
        flex-basis: 25%;
    }
    #title h1{
        font-size: 15px
    }
}
@media screen and (max-width: 1150px) {
    #Card{
        max-width: 33.33333333333333%;
        flex-basis: 33.33333333333333%;
    }
}
@media screen and (max-width: 900px) {
    #imageContainer{
        padding: 20px 10px 0px;
    }
}
@media screen and (max-width: 750px) {
    #Card{
        max-width: 50%;
        flex-basis: 50%;
    }
}
@media screen and (max-width: 450px) {
    #imageContainer{
        padding: 20px 0px 0px;
    }
}
@media screen and (max-width: 390px) {
    #Card{
        max-width: 100%;
        flex-basis: 100%;
    }
    #imageContainer{
        padding: 20px 25px 0px;
    }
}
