#Card{
    width: 330px;
    font-family: 'Exo 2', sans-serif;
    color: #fefefe;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
#imageContainer{
    width: 200px;
    height: 200px;
    margin: 20px auto 10px auto;
    position: relative;
    cursor: pointer;
}
#imageContainer img{
    width: 100%;
}
#title{
    margin-bottom: 10px;
}
#title h1{
    font-size: 17px;
    text-align: center;
    font-weight: 300;
    transition: all 0.08s ease;
}
#title h1:hover{
    transform: scale(1.025);
}
#price{
    display: flex;
    justify-content: center;
    min-height: 19px;
}
#price>label{
    text-align: center;
    display: flex;
    align-items: center;
}
#original{
    margin-top: 2px;
    margin-right: 10px;
    font-size: 11px;
    color: rgb(153, 153, 153);
}
#original{
    position: relative;
}
#original::after{
    content: "";
    width: 45px;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.882);
    position: absolute;
    transform: rotate(15deg);
    bottom: 8px;
    right: -5px;
}
#discount{
    color: #fd611a;
}
#seeDetails{
    text-align: center;
    padding-top: 10px;
}
#seeDetails>button{
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: rgba(62, 37, 62, 0.655);
    color: #fefefe;
    font-size: 11px;
    cursor: pointer;
}
#seeDetails>button:hover{
    text-decoration: underline;
}
#buy{
    text-align: center;
    padding-top: 10px;
}
#buy>button{
    padding: 5px 8px;
    border: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400    ;
    text-transform: uppercase;
    background-color: rgb(111, 62, 111);
    color: #fefefe;
    font-size: 15px;
    cursor: pointer;
}
#buy>button:active{
    background-color: rgb(155, 85, 155);
    transform: scale(1.05);
}
#imgToThrow{
    top: 0;
}
.lanzar{
    position: absolute;
    top: 0;
    right: 0;
    animation: mover-carrito 0.8s ease;
    /* z-index: 100000; */
}

@keyframes mover-carrito {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translate(var(--destino-x), var(--destino-y)) scale(0.2);
      opacity: 0;
    }
  }