#CardContainer{
    display: flex;
    border-top: 1px solid #99999971;
    padding: 20px 0;
    position: relative;
}
#CardContainer .contenedores{
    display: flex;
    align-items: center;
    justify-content: center;
}

#firstDiv{
    flex-direction: column;
    width: 216px;
    flex-shrink: 0;
    padding-right: 10px;
}
#firstDiv>.imgContainer{
    width: 100px;
    padding-bottom: 5px;
}
#firstDiv>.imgContainer .img{
    object-fit: contain;
    max-width: 100%;
}
#firstDiv>.titleContainer>#titleCard{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
#secondDiv{
    padding-right: 10px;
    width: 100px;
    flex-shrink: 0;
}

#secondDiv>.divTwo>.buttonsControllers{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #34333371;
    width: 20px;
    height: 25px;
    cursor: pointer;

}
#secondDiv>.divTwo>.buttonsControllers>span{
    margin: auto;
}
#secondDiv>.divTwo>#spanTwo{
    margin: 0 10px;
}


#thirdDiv{
    width: 100px;
    flex-shrink: 0;
}
#thirdDiv>#xIcon{
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
}
#thirdDiv>#xIcon>#xP{
    transform: rotate(-6deg);
    user-select: none;
}

@media screen and (max-width: 680px) {
    #CardContainer{
        justify-content: space-between;
    }
    #firstDiv{
        width: 110px;
    }
    #firstDiv>.titleContainer>#titleCard{
        font-size: 15px;
    }
    #secondDiv{
        width: 80px;
        padding-left: 10px;

    }
    #thirdDiv{
        width: auto;
    }
    #thirdDiv>:nth-child(1)>span{
        font-size: 14px;
    }
    #secondDiv>.divTwo{
        width: 80px;
        display: flex;
        align-items: center;
    }
    #secondDiv>.divTwo>#spanTwo{
        margin: 0 5px;
    }
    #secondDiv>.divTwo>.buttonsControllers{
        width: 15px;
        height: 15px;
        font-size: 15px;
        padding: 0 0 5px 0;
        display: flex;
        align-items: start;
        background-color: rgb(161, 161, 219);
    }
    #secondDiv>.divTwo>.buttonsControllers>span{
        line-height: 11px;
    }
}