#PedidoGenerado{
    color: #fefefed8;
    display: flex;
}
#main{
    width: calc(100vw - 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    overflow: auto;
    padding: 20px 0 5px 0;
}
#header{
    text-align: center;
    padding-right: 40px;
}
#header img{
    height: 50px;
}
#top{
    margin-top: 30px;
    display: flex;
    position: relative;
}
#top img{
    width: 50px;
    position: absolute;
    left: -60px;
    bottom: 50%;
    transform: translateY(50%);
}
#top h2{
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 30px;
}
#top p{
    font-weight: 300;
    margin-bottom: 5px;
}
#dataClient{
    margin-top: 30px;
    border: 1px solid rgb(189, 189, 189);
    padding: 14px;
    border-radius: 6px;
    width: 100%;
    max-width: 500px;
}
.titileBox h2{
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
}
.rowBox{
    margin-top: 6px;
}
.property{
    padding-right: 15px;
    font-size: 16px;
    font-weight: 300;
}
.value{
    font-weight: 300;
    font-size: 14px;
    color: #ffffff8e;
}
#dataOrder{
    margin-top: 30px;
    border: 1px solid rgb(189, 189, 189);
    padding: 14px;
    border-radius: 6px;
    max-height: 220px;
    overflow: auto;
    width: 100%;
    max-width: 500px;
}
#listProducts{
    padding-left: 15px;
    margin-top: 3px;
}
#listProducts label{
    display: block;
    padding-top: 5px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff8e;
}
#metodoPago>:nth-child(2){
    padding-top: 2px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 300;
}
.validationStatements{
    font-size: 17px;
    font-weight: 300;
}
#stepsValidation{
    margin-top: 10px;
    padding-left: 15px;
}

#shoppingCart{
    height: 100vh;
    background-color: #25292f;
    width: 400px;
    flex-shrink: 0;
    overflow-y: auto;
}
#totolPrice{
    text-align: end;
    padding: 8px 15px 20px 15px;
    font-size: 20px;
    font-weight: 300;
}
#status{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    padding: 5px 5px;
}
#status>label{
    display: flex;
    align-items: center;
    max-width: 500px;
    justify-content: space-between;
}
#status>label>span{
    background-color: rgb(44, 40, 40);
    margin-left: 5px;
    padding: 1px 3px 2px 3px;
    border-radius: 4px;
}
#statusAndTime p{
    font-size: 30px;
}
#status >span{
    color: yellow;
}

#anuncio{
    padding: 0 10px;
}
#anuncio p{
    font-size: 14px;
    text-align: end;
}

#accounts p{
    display: block;
    padding: 1px 20px;
}

@media screen and (max-width: 680px) {
    #PedidoGenerado{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #main{
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dataClient{
        width: 100%;
        max-width: initial;
    }
    #containerBox{
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }
    #dataOrder{
        width: 100%;
        max-width: initial;
    }
    #top img{
        position: static;
        transform: initial;
    }
    #top{
        flex-direction: column;
    }
    #shoppingCart{
        width: 100vw;
        margin-top: 50px;
        height: auto;
    }
}