#header{
    /* background: linear-gradient(to right, #220e05, #111111 30%); */
    background: linear-gradient(to right, transparent, transparent 30%);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nasalization', sans-serif;
    position: relative;
}
#logoTexContainer {
    display: inline-block;
    flex-grow: 0;
    padding: 1px 3px 0px 2px;
    cursor: pointer;
    height: 50px;
}
#logoTexContainer img{
    height: 100%;
}
#header>:nth-child(2){
    display: flex;
    justify-content: end;
}
#searchBarContainer{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
#shoppingCartContainer{
    background-color: rgb(161, 163, 165);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 100px;
}

#shoppingCartContainer:hover:not(div img){
    background-color: #ffdf58;
}
#shoppingCartContainer >:nth-child(1){
    width: 40px;
    height: 40px;
    /* box-shadow: 0 0 50px 2px #fd611a; */
    z-index: 11;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
    cursor: pointer;
}
#shoppingCartContainer  img{
    padding-top: 2px;
    width: 30px;
    pointer-events: none;
    user-select: none;
}
#shoppingCartContainer> :nth-child(2){
    border-radius: 10px;
    background-color: #111111e0;
    width: 440px;
    position: absolute;
    right: -90px;
    top: 105%;
    z-index: 10;
    /* box-shadow: 0 0 50px 1px #fd621ac3; */
    overflow: hidden;
}
#shoppingCartContainer> :nth-child(2)>:first-child{
    transition: all .5s ease-in-out;
}
#itemNumber{
    position: absolute !important;
    display: flex;
    width: 25px;
    background-color:#fd611a;
    height: 25px;
    top: -20px;
    right: 0;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(23, 24, 24);
    font-weight: 600;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
}
#finalizarCompre{
    position: fixed;
    bottom: 0;
    background-color: #fd611a;
    right: 0;
    border-top-left-radius: 10px;
    transition: opacity 0.6s ease-out;
    color: #fefefe;
    text-decoration: none;
    z-index: 100;
    font-family: 'Exo 2', sans-serif;
    animation: fadeIn 0.3s ease-out;
}
#finalizarCompre h3{
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}
#carritoContenedor{ 
    height: 0;
}
#logMenuContainer{
    width: 155px;
}

#buttonsRight{
    display: flex;
}




@keyframes fadeIn {
    0%{
        opacity: 0;
    }   
    100%{
        opacity: 1;
    }
}
#menuLine{
    height: 22px;
    display: inline-block;
}
#menuLine img{
    height: 100%;
}

@media screen and (max-width: 680px) {
    #header{
        padding: 12px 10px 75px 10px;
        display: flex;
        align-items: center;
    }
    #searchBarContainer{
        width: 90%;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #logoTexContainer{
        padding-left: 20px;
        height: 35px;
    }
    
    #logMenuContainer{
        width: 40px;
        flex-shrink: 0;
        display: flex;
    }    
    #shoppingCartContainer{
        margin-right: 15px;
    }
    #buttonsRight{
        display: flex;
        align-items: center;
        width: 38%;
        justify-content: space-between;
    }
    #shoppingCartContainer{
        width: 32px;
        height: 32px;
    }
    #shoppingCartContainer >:nth-child(1) img{
        width: 24px; 
    }
    #itemNumber{
        font-size: 12px;
        width: 17px;
        height: 17px;
        top: -11px;
    }
    
    #shoppingCartContainer> :nth-child(2){
        right: initial;
        left: 0%;
        transform: translateX(-60%);
        top: 105%;
    }
}


@media screen and (max-width: 500px) {
    #header{
        padding: 12px 10px 75px 10px;
        display: flex;
        align-items: center;
    }
    #searchBarContainer{
        width: 90%;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    #logoTexContainer{
        padding-left: 20px;
        height: 35px;
    }
    
    #logMenuContainer{
        width: 40px;
        flex-shrink: 0;
        display: flex;
    }    
    #shoppingCartContainer{
        margin-right: 15px;
    }
    #buttonsRight{
        display: flex;
        align-items: center;
        width: 38%;
        justify-content: space-between;
    }
    #shoppingCartContainer{
        width: 32px;
        height: 32px;
    }
    #shoppingCartContainer >:nth-child(1) img{
        width: 24px; 
    }
    #itemNumber{
        font-size: 12px;
        width: 17px;
        height: 17px;
        top: -11px;
    }
    
    #shoppingCartContainer> :nth-child(2){
        right: initial;
        left: 0%;
        transform: translateX(-60%);
        top: 105%;
        width: 300px;
    }
}
