@import '../../../../fonts/fonts.css';


#Detail{
    background-color: rgba(0, 0, 0, 0.596);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
    backdrop-filter: blur(1px);
    animation: intro 0.3s ease;
}
#pupoutDetail{
    width: 1200px;
    padding: 10px 0px 30px 0;
    background-color: #31333a;
    position: relative;
    border-radius: 10px; 
    animation: intro2 0.3s ease-out;
}
#titleProduct{
    text-align: center;
}
#titleProduct h1{
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
    font-family: 'Exo 2', sans-serif;
}
#xIcon{
    position: absolute;
    top: 4px;
    font-size: 25px;
    right: 8px;
    font-family: 'Nasalization', sans-serif;
    cursor: pointer;
}

#ContainerDetailsProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0 30px 0;
    font-family: 'Nasalization', sans-serif;
}
#top {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
#imageContainer{
    width: 600px !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imageContainer img{
    width: 400px;
    height: 400px;
    pointer-events: none;
    user-select: none;
}

#mainInfo{
    width: 600px !important;
    height: 100%;
    padding: 0 0 30px 0;
}

#mainInfo > :first-child > h1{
    font-size: 28px;
    font-weight: 400;
}

#mainInfo > span{
    font-size: 12px;
    font-weight: 400;
    padding: 12px 0;
    display: block;
}

#mainInfo > :nth-child(3){
    border-top: 1px solid #696967;
    border-bottom: 1px solid #696967;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #4676b9;
    padding-right: 50px;
}


#mainInfo > :nth-child(3) h2{
    font-size: 32px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}

#mainInfo > :nth-child(3) > div > #discountPrice{
    color: #a74c9a;
    font-size: 20px;
}

#mainInfo > :nth-child(3) p{
    font-size: 10px;
}


#mainInfo > :nth-child(4) > ul{
    width: 100%;
    height: 130px;
    padding: 14px 0;
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid #696967;;
}

#mainInfo > :nth-child(4) > ul > li {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: #4caf50;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

#mainInfo > :nth-child(4) > ul > li > div{
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainInfo > :nth-child(4) > ul > li > div > img {
    width: 25px;
    overflow: hidden;
    height: 25px;
}

#mainInfo > :nth-child(4) > ul > li > div > #check{
    width: 19px;
    height: 19px;
    margin-left: 3px;
}

#mainInfo > :nth-child(4) > ul > li > div > #truck{
    margin-left: 3px;
}

#mainInfo > :nth-child(5){
    background-color: #e4752b;
    height: 35px;
    width: 300px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #fefefe;
    font-family: Montserrat,sans-serif;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}

#mainInfo > :nth-child(5):active{
    background-color: #ff8330;
    transform: scale(1.05);
}


.noStock{
    opacity: 0.6 !important;
    cursor: not-allowed !important; 
}

.noStock:active{
    background-color: #e4752b !important;
    transform: scale(1) !important;
}

#tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#category{
    font-size: 18px !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300 !important;
}
#pricesZone p {
    font-family: 'Exo 2', sans-serif;
    font-size: 13px !important;
    font-weight: 600;
}
#small_decimals{
    font-size: 15px;
}

@keyframes intro{
    0%{
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    100%{
        background-color: rgba(0, 0, 0, 0.596);
        backdrop-filter: blur(1px);
    }
}

@keyframes intro2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}