@import '../../../../fonts/fonts.css';



#Detail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pupoutDetail{
    padding: 10px 0px 30px 0;
    background-color: #282c42ef;
    background-color: #282c42;
    position: relative;
    border-radius: 10px; 
    animation: intro2 0.3s ease-out;
    width: 100%;
    max-width: 1200px;
    max-height: 90vh;
    overflow: visible;
}



#pupoutDetail::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 17px 3px #0ff,0 0 4px 2px #ffff01;
    z-index: -10;
    /* animation-name: cyan-shadow;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    border-radius: 10px; 
}
#pupoutDetail::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 17px 3px #e71fee,0 0 4px 2px #ffff01;
    z-index: -10;
    /* animation-name: yellow-shadow;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    border-radius: 10px; 
}

@keyframes yellow-shadow {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 50%;
      left: 0;
    }
    50% {
      top: 50%;
      left: 50%;
    }
    75% {
      top: 0;
      left: 50%;
    }
    100% {
      top: 0;
      left: 0;
    }
  }
  

  
  @keyframes cyan-shadow {
    0% {
      right: 0;
      bottom: 0;
    }
    25% {
      right: 0;
      bottom: 50%;
    }
    50% {
      right: 50%;
      bottom: 50%;
    }
    75% {
      right: 50%;
      bottom: 0;
    }
    100% {
      right: 0;
      bottom: 0;
    }
  }
  


#pupoutDetail::-webkit-scrollbar {
    width: 5px;
}

#pupoutDetail::-webkit-scrollbar-track {
    background-color: #5f5d5d4f;
}

#pupoutDetail::-webkit-scrollbar-thumb {
    background-color: #1d1c1c;
    border-radius: 10px;
}
#titleProduct{
    text-align: center;
}
#titleProduct h1{
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
    font-family: 'Exo 2', sans-serif;
}
#xIcon{
    position: absolute;
    top: 4px;
    font-size: 25px;
    right: 8px;
    font-family: 'Nasalization', sans-serif;
    cursor: pointer;
}

#ContainerDetailsProduct{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0 30px 0;
}
#top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
#imageContainer{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#imageContainer img{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    pointer-events: none;
    user-select: none;
}
#addingProduct{
    position: absolute;
    top: 50px;
    right: 65px;
    font-size: 22px;
    color: #4caf50;
    font-weight: 600;
    font-family: 'Exo 8', sans-serif;
    z-index: 15;
    animation: cart-counter 1000ms ease-out;
    opacity: 0;
}

#mainInfo{
    width: 50%;
    height: 100%;
    padding: 0 0 30px 0;
    flex-shrink: 0;
}

#mainInfo > :first-child > h1{
    font-size: 28px;
    font-weight: 400;
}

#mainInfo > span{
    font-size: 12px;
    font-weight: 400;
    padding: 12px 0;
    display: block;
}

#mainInfo > :nth-child(3){
    border-top: 1px solid #696967;
    /* border-bottom: 1px solid #696967; */
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 50px;
    padding-top: 10px;
}

#priceLabel{
    background-color: #c96726;
    display: inline-block;
    padding: 1px 8px;
    border-radius: 3px;
    font-size: 15px !important;
    margin-bottom: 3px;
    color: #e7e4e4;
}
#mainInfo > :nth-child(3){
    color: #fefefebb;
}
#mainInfo > :nth-child(3) h2{
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}

#mainInfo > :nth-child(3) > div > #discountPrice{
    color: #e649ce;
    font-size: 20px;
}

#mainInfo > :nth-child(3) p{
    font-size: 10px;
}


#mainInfo > :nth-child(4) > ul{
    width: 100%;
    height: 130px;
    padding: 14px 0;
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

#mainInfo > :nth-child(4) > ul > li {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: #37b63b;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

#mainInfo > :nth-child(4) > ul > li > div{
    margin-right: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainInfo > :nth-child(4) > ul > li > div > img {
    width: 25px;
    overflow: hidden;
    height: 25px;
}

#mainInfo > :nth-child(4) > ul > li > div > #check{
    width: 19px;
    height: 19px;
    margin-left: 3px;
}

#mainInfo > :nth-child(4) > ul > li > div > #truck{
    margin-left: 3px;
}

#mainInfo > :nth-child(5) button{
    background-color: #e4752b;
    height: 35px;
    width: 200px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #fefefe;
    font-family: Montserrat,sans-serif;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}

#mainInfo > :nth-child(5)button:active{
    background-color: #ff8330;
    transform: scale(1.03);
}


.noStock{
    opacity: 0.7 !important;
    cursor: not-allowed !important; 
}

.noStock:active{
    background-color: #e4752b !important;
    transform: scale(1) !important;
}

#tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#category{
    font-size: 18px !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300 !important;
}
#pricesZone p {
    font-family: 'Exo 2', sans-serif;
    font-size: 13px ;
    font-weight: 600;
}
#small_decimals{
    font-size: 15px;
}
#addersZone{
    border-bottom: 1px solid #696967;
    padding-bottom: 20px;
}
#adderInput{
    display: inline-block;
    padding-right: 10px;
}
#adderInput span{
    background-color: #e4752b;
    display: inline-block;
    padding: 1px 6px;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}
#adderInput input{
    width: 35px;
    margin: 0 4px 0 4px;
    outline: none;
    display: inline-block;
    text-align: center;
    height: 28px;
    font-size: 15px;
    border-radius: 4px;
    background-color: #fefefecc;
}
#adderInput input::-webkit-inner-spin-button,
#adderInput input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



@keyframes intro2{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes cart-counter {
    0% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(0, -40px) scale(1.5);
    }
  }





@media screen  and (max-width: 500px) {
    #pupoutDetail{
        padding: 10px 10px 30px 10px;
    }
    #top {
        flex-direction: column;
    }
    #imageContainer{
        width: 100%;
        padding: 0 15px;
    }
    #mainInfo{
        width: 100%;
        padding: 0 20px;
    }
    #mainInfo > :nth-child(5){
        text-align: center;
    }
    #titleProduct h1{
        padding-top: 25px;
        font-size: 19px;
    }
    #mainInfo > :nth-child(3){
        padding: 0;
    }
    
    #mainInfo > :nth-child(3) h2{
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
    }
    #mainInfo > :nth-child(3) > div{
        padding: 0 5px;
    }
    #mainInfo > :nth-child(3) > div > #discountPrice{
        font-size: 11px;
    }

    #mainInfo > :nth-child(3) p{
        font-size: 10.5px !important;
    }
    #mainInfo > :nth-child(5) button{
        width: 100%;
    }
    #xIcon{
        font-size: 18px;
    }

}


@media screen and (min-width: 501px) and (max-width: 680px) {
    #top {
        flex-direction: column;
    }
    #imageContainer{
        width: 100%;
    }
    #mainInfo{
        width: 100%;
        padding: 0 20px;
    }
    #mainInfo > :nth-child(5){
        text-align: center;
    }
  
}



