@import '../../fonts/fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&display=swap');



#Perfil_usuario{
    width: 100%;
    background-color: #111111;
    min-height: 100vh;
    color: #fefefe;
    /* font-family: 'Nasalization', sans-serif; */
    display: flex;
    font-family: 'Exo 2', sans-serif;
}
#main{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 1180px   ;
    margin: 0 auto;
    padding: 0 15px;
}
#side{
    margin-top: 30px;
    width: 25%;
    padding: 0 15px;
}

#pricipal{
    margin-top: 30px;
    width: 75%;
    padding: 0 15px;
}
#side>#userPresentation{
    background-color: #222121;
    padding: 30px;
}
#side>#userPresentation h1,#side>#userPresentation p,#side>#userPresentation {
    text-align: center;
}
#side>#userPresentation img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border:5px solid rgba(255, 255, 255, 0.2);
}
#side>#userPresentation p{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
    min-height: 16px;
}

#pointsSection{
    background-color: #222121;
    padding: 40px 50px 40px 0px;
}
#pointsSection label{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #5eff00; */
    color: #ff01b3;
}
#pointsSection label h1{
    font-size: 25px;
    margin-right: 8px;
    font-weight: 700;
}
#pointsSection label p{
    display: inline;
    font-size: 25px;
    font-weight: 700;
}

#informationContainer{
    padding: 15px;
    background-color: #302f2f;
}
#informationContainer>h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.row{
    display: flex;
    margin-bottom: 5px;

}
.row label{
    width: 50%;
    flex-grow: 0;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 14.5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 500;
}
.valueData{
    flex-grow: 0;
    padding: 2px 10px 5px 10px;
    color: #bbbbbb !important;
    text-transform: capitalize;
    height: 25px;
    max-width: 250px;
    max-height: 25px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    outline: none;
    border: none;
    background-color: #27272769;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    border-radius: 4px;
}
.row label span{
    margin-right: 15px;
    display: inline-block;
    color: #fefefe;
}
#admirationBirthday{
    position: relative;
}
#admirationBirthday img{
    width: 16px;
    height: 16px;
    line-height: 10px;
    position: absolute;
    bottom: -4px;
    left: 4px;
}
#admirationBirthday::after{
    content: "Verifica tu fecha de cumpleaños y TEX te enviará un regalo.";
    position: absolute;
    background-color: #525050;
    padding: 10px;
    width: 200px;
    font-size: 12px;
    border-radius: 6px;
    top: -70px;
    right: -120px;
    display: none;
}
#admirationBirthday:hover::after {
    display: block;
}
#sideOptions{
    list-style: none;
    background-color: #302f2f;
    border-bottom-right-radius: 10px;
}
#sideOptions li{
    padding: 10px 15px;
    list-style: none;
    font-size: 13px;
}
#sideOptions li:hover{
    background-color: #2c2b2b;
    cursor: pointer;
}
#sideOptions >:nth-child(1)>:nth-child(1)>:nth-child(1){
    border-bottom: 1px solid rgba(68, 66, 66, 0.575);
}
#guardar{
   padding: 10px 80px 0px 10px;
    display: block;
    text-align: end;
}
#guardar span{
    background: purple;
    padding: 3px 8px 4px 8px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
#guardar span:hover{
    background: rgba(128, 0, 128, 0.74);
}
#guardar p{
    background: rgba(0, 0, 0, 0.603);
    padding: 3px 8px 4px 8px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    margin-right: 15px;
}
#guardar p:hover{
    background: rgba(0, 0, 0, 0.397);
}
.attributeData{
    width: 120px;
    flex-shrink: 0;
}
#my_date_input{
    flex-grow: 0;
    padding: 2px 10px 5px 10px;
    color: #bbbbbb !important;
    text-transform: capitalize;
    height: 25px;
    max-width: 250px;
    max-height: 25px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    outline: none;
    border: none;
    background-color: #27272769;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    border-radius: 4px;
}
#my_date_input::-webkit-calendar-picker-indicator {
    padding-top: 4px;
    filter: invert(23%) sepia(97%) saturate(1603%) hue-rotate(327deg) brightness(100%) contrast(95%);
}
#my_date_input::-ms-calendar-picker-indicator {
    padding-top: 4px;
    filter: invert(23%) sepia(97%) saturate(1603%) hue-rotate(327deg) brightness(100%) contrast(95%);
}
#my_date_input::-o-calendar-picker-indicator {
    padding-top: 4px;
    filter: invert(23%) sepia(97%) saturate(1603%) hue-rotate(327deg) brightness(100%) contrast(95%);
}


#error{
    border: 1px solid #ff0000 !important;
}
.error{
    border: 1px solid #ff0000 !important;
}

@media screen and (max-width: 680px) {
    #main{
        flex-direction: column;
        width: 100vw;
    }
    #side{
        width: 100%;
    }
    #pricipal{
        width: 100%;
        padding-bottom: 20px;
    }
    .row{
        flex-direction: column;
    }
    .row label{
        width: 100%;
    }
    .attributeData{
        width: 90px;
        font-size: 14px;
    }
    .valueData{
        font-size: 13px;
    }
}
