#SearchBar{
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
}

#SearchBarContainer{
    position: relative;
    width: 100%;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
    max-width: 800px;
}

.divSearchBar{
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
}
.divSearchBar input{
    background: transparent;
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px 45px 10px 20px;
    font-size: 18px;
    color: #cac7ff;
    font-family: 'Exo 2', sans-serif;
    border-radius: 60px;
}

.divSearchBar input::placeholder{
    color: rgba(202, 199, 255, 0.5);
    font-size: 18px;
}

#button{
    position: absolute;
    right: 0px;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(202, 199, 255, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button:active{
    background-color: rgb(163, 111, 163);
}


#button img{
    width: 60%;
}

/* RSPONSIVE DESIGN */


@media screen and (max-width: 1400px) {
    #SearchBarContainer{
        min-width: auto;
    }
}

@media screen and (max-width : 450px){
    #SearchBarContainer {
        width: 100%;
    }
}

@media screen and (max-width : 1024px ) and (min-width :450px) {
    .divSearchBar input{
        font-size: 0.95rem;
    }

    .divSearchBar input::placeholder{
        font-size: 0.95em;
    }

    .formSearchBar {
        height: 35px;
    }
}; 
 
